<button (click)="handleClick()">{{ clicked ? "Hide" : "Show" }}</button>
<h2>{{ title }}</h2>

<div *ngIf="clicked">
  <div *ngFor="let person of persons | async">
    <h3
      [ngClass]="{
        red: person.name === 'Heba',
        blue: person.name === 'Sarah'
      }"
    >
      Name: {{ person.name }}
    </h3>
    <p>Year: {{ person.year | year }}</p>
    <p>
      <strong>Location: {{ person.location }}</strong>
    </p>
  </div>
  <img src="../../assets/web-story-image.png" appMagnifier />
</div>
